body {
  background-color: #91bbff;

}

h1 {
  font-size: 36px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

img {
   border:1px solid #021a40;
}

.photogallery a{
  text-decoration: none;
}
